<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Sign in</title>
</head>
<body id="SignIn">
    <h1>Sign in</h1>
    <form action="/user" method="GET" id="getdata">
        <div><input name="email" type="email" placeholder="Email" required></div>
        <div><input name="password" type="password" pattern=".{5,10}" placeholder="Password" required title="5 to 10 characters"></div>
        <div><button>Log in</button></div>    
    </form>
</body>
</html>