<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>web project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet"><!--//////font gallery/////-->
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet"><!--//////font sign up/////-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--//////Icon from google/////-->
    </head>
    <body id="user">
        <!--////////////////////bar///////////////////-->
        <nav class="navbar navbar-light" style="background-color: #df9f9f">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="container">
            <a class="navbar-brand mb-0 h1" class="font-weight-bold">GALLERY</a>
        </div>
        <div class="navbar navbar-light">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-item nav-link" href="sign in.html"><p class="text-uppercase font-weight-bold">Log in</p></a></li>
            </ul>
        </div>
        <div class="navbar navbar-light">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-item nav-link" href="/"><p class="text-uppercase font-weight-bold">Log out</p></a></li>
            </ul> 
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav item"><a class="nav-link" href="#">About</a></li>
                <li class="nav item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
        </nav>
</body>
</html>